{% extends 'ctm_admin/base/index.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static  'ctm_admin/css/index.css' %}">
{% endblock styles %}

{% block content %}
hi
<div class="card">
    <div class="card-body">
        <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
            <li class="media">
                <img alt="image" class="mr-3 rounded-circle" width="70" src="https://demo.getstisla.com/assets/img/avatar/avatar-1.png">
                <div class="media-body">
                    <div class="media-right"><div class="text-primary">Approved</div></div>
                    <div class="media-title mb-1">Rizal Fakhri</div>
                    <div class="text-time">Yesterday</div>
                    <div class="media-description text-muted">Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                    <div class="media-links">
                        <a href="#">View</a>
                        <div class="bullet"></div>
                        <a href="#">Edit</a>
                        <div class="bullet"></div>
                        <a href="#" class="text-danger">Trash</a>
                    </div>
                </div>
            </li>
            <li class="media">
                <img alt="image" class="mr-3 rounded-circle" width="70" src="https://demo.getstisla.com/assets/img/avatar/avatar-1.png">
                <div class="media-body">
                    <div class="media-right"><div class="text-primary">Approved</div></div>
                    <div class="media-title mb-1">Rizal Fakhri</div>
                    <div class="text-time">Yesterday</div>
                    <div class="media-description text-muted">Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                    <div class="media-links">
                        <a href="#">View</a>
                        <div class="bullet"></div>
                        <a href="#">Edit</a>
                        <div class="bullet"></div>
                        <a href="#" class="text-danger">Trash</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}