{% extends 'base2/index.html' %}
{% load static %}
{% load compress %}
{% load humanize %}
{% block title %}
Cart | NvsTrades
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="nvs-box">
            <a class="btn btn-primary" href="{% url 'home' %}"><i class="bi bi-arrow-left"></i> Continue Shopping</a>

            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th><h5>Items: <strong>{{order.get_item_total}}</strong></h5></th>
                        <th><h5>Total: <strong>₹{{order.get_cart_total|intcomma }}</strong></h5></th>
                        <th>
                            <a href="{% url 'checkout' %}" class="btn btn-success nvs-checkout">Checkout</a>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <br>
        <div class="nvs-box">
            <div class="nvs-cart-row">
                <div class="nvs-cart-items1"><strong>S.no</strong></div>
                <div class="nvs-cart-items2"><strong>Image</strong></div>
                <div class="nvs-cart-items2"><strong>Item</strong></div>
                <div class="nvs-cart-items1"><strong>Price</strong></div>
                <div class="nvs-cart-items1"><strong>Quantity</strong></div>
                <div class="nvs-cart-items1"><strong>Total</strong></div>
            </div>
            {% for i in items %}
                {% include 'main/_details/cartcarddetails.html' with data=i count=forloop.counter %}
            {% endfor %}
        </div>
    </div>
</div>
</div>

{% endblock content %}

{% block scripts %}
{% compress js inline %}
<script src="{% static 'main/js/cart.js' %}"></script>
{% endcompress %}
{% endblock scripts %}