{% extends 'base2/index.html' %}
{% load static %}
{% block title %} Cart | {{site_name}} {% endblock title %}
{% block content %}
<div class="container">
  {% if order.get_item_total != 0 %}
    <div class="row">
      {% include 'main/_details/checkoutsummerycard.html' with data=items %}
      {% include 'main/_details/checkoutuserinfocard.html' with order=order %}
    </div>
  {% else %}
    <div class="row mt-1 d-flex justify-content-center align-items-center ">
      <div class="card empty_crt_cont">
        <img class="img-fluid" src="{% static 'main/img/empty_cart_img.jpg' %}" alt="Empty cart">
        <h4>Your Cart is Currently Empty</h4>
        <div class="empty_crt_cont-p">
          <p>You have no items in your shopping cart.</p>
          <p>Let's go buy something</p>
        </div>
        <button onclick="window.open('/','_self')" class="empty_crt_cont-btn"><i class="bi bi-cart"></i>&nbsp;RETURN TO SHOP</button>
      </div>
    </div>
  {% endif %}
</div>
{% endblock content %}
{% block styles %}
<style>
  .hidden_c{
    display: none !important;
  }
  .container{
    padding: 0px !important;
  }
  .empty_crt_cont{
    display: flex;
    max-width: 500px;
    align-items: center;
    border-radius: 7px;
  }
  .empty_crt_cont >h4{
    text-align: center;
  }
  .empty_crt_cont-p{
    align-items: center;
    justify-content: center;
    margin-top: 8px;
  }
  .empty_crt_cont-p >p{
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
    color: rgb(107, 107, 107);
  }
  .empty_crt_cont-btn{
    border-radius: 4px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    background-color: rgb(41, 171, 41);
    border: none;
    padding: 13px 10px;
  }
</style>
{% endblock styles %}

{% block scripts %}
<script src="{% static 'main/js/add_pin.js' %}"></script>
<script>
  var total = "{{order.get_cart_total}}"
  var shipping = '{{order.shipping}}'
  var form_ord = document.getElementById("form_ord_usr")
  form_ord.addEventListener("submit", function(e){
    e.preventDefault()
    console.log("form submitted")
    document.getElementById("user_form").classList.add("hidden_c")
    document.getElementById("paymenet_info").classList.remove("hidden_c")
  })
  document.getElementById("make_pay_btn").addEventListener("click",function(e){
    console.log("payment done")
    var userFormData = {
      'name':null,
      'email':null,
      'total':total,
    }
    var shippingInfo = {
      'address1':null,
      'address2':null,
      'city':null,
      'state':null,
      'zipcode':null,
    }
    console.log(form_ord)
    if (shipping != 'False'){
        shippingInfo.address1 = form_ord.address1.value
        shippingInfo.address2 = form_ord.address2.value
        shippingInfo.state = form_ord.state.value
        shippingInfo.city = form_ord.city.value
        shippingInfo.zipcode = form_ord.zip.value
    }
    userFormData.name = form_ord.name.value
    userFormData.email = form_ord.email.value

  var SendData = {
      shipping : shippingInfo,
      userFormData:userFormData
  }
  console.log(SendData)
  var apiUrl = '/order/order-process/';
  var xhr = new XMLHttpRequest();
  xhr.open('POST', apiUrl, true);
  xhr.setRequestHeader("X-CSRFToken", csrftoken);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.onload = function() {
      if (xhr.status === 200) {
      var response = JSON.parse(xhr.responseText);
      console.log(response.message)
      cart = {}
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
      console.log("success...")
      window.location.href = "{% url 'order-my-orders' %}"
      }
  };
  xhr.send(JSON.stringify(SendData));
  })
</script>
<script src="{% static 'main/js/check_out.js' %}"></script>
{% endblock scripts %}