{% extends 'base/index.html' %}
{% load static %}
{% load compress %}
{% block title %}
Home
{% endblock title %}


{% block content %}
<div class="row">
    <div class="col-lg-3 nvs-box">
        <img class="img-fluid m-auto" src="{% static 'main/img/no-image.jpg' %}" alt="product">
        <div>
            <h6 class="mt-2"><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-sm btn-outline-secondary">Add to Cart</button>
            <a href="#" class="btn btn-sm btn-outline-success">View</a>
            <h5 class="nvs-price">$20</h5>
        </div>
    </div>
    <div class="col-lg-3 nvs-box">
        <img class="img-fluid m-auto" src="{% static 'main/img/no-image.jpg' %}" alt="product">
        <div>
            <h6 class="mt-2"><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-sm btn-outline-secondary">Add to Cart</button>
            <a href="#" class="btn btn-sm btn-outline-success">View</a>
            <h5 class="nvs-price">$20</h5>
        </div>
    </div>
    <div class="col-lg-3 nvs-box">
        <img class="img-fluid m-auto" src="{% static 'main/img/no-image.jpg' %}" alt="product">
        <div>
            <h6 class="mt-2"><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-sm btn-outline-secondary">Add to Cart</button>
            <a href="#" class="btn btn-sm btn-outline-success">View</a>
            <h5 class="nvs-price">$20</h5>
        </div>
    </div>
    <div class="col-lg-3 nvs-box">
        <img class="img-fluid m-auto" src="{% static 'main/img/no-image.jpg' %}" alt="product">
        <div>
            <h6 class="mt-2"><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-sm btn-outline-secondary">Add to Cart</button>
            <a href="#" class="btn btn-sm btn-outline-success">View</a>
            <h5 class="nvs-price">$20</h5>
        </div>
    </div>
</div>
{% endblock content %}

{% block body_hidden %}
{{ request.user.username |json_script:"user_name" }}
{% endblock body_hidden %}

{% block scripts %}
{% compress js inline %}
<script>
    const UserName = JSON.parse(document.getElementById('user_name').textContent);

    const NotificationSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/notification/'
        + UserName
        + '/'
    );

    NotificationSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log('connected');
        console.log(data.message);
        document.getElementById('notifiocation-body').innerHTML = `
            <li class="notification-item">
                <i class="bi bi-info-circle text-info"></i>
                <div>
                    <h4>${data.message.title}</h4>
                    <p>${data.message.body}</p>
                    <p>${data.message.time}</p>
                </div>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>`+document.getElementById('notifiocation-body').innerHTML;
        document.getElementById("notification-badge").innerHTML= parseInt(document.getElementById("notification-badge").innerHTML) + 1;
    };

    NotificationSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>
{% endcompress %}
{% endblock scripts %}