<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speech to Text</title>
</head>
<body>
    <div class="container">hi</div>
    <div class="words" contenteditable>
        <p id="p"></p>
    </div>
    <script>
        const GetSpeech = () => {
            console.log("clicked microphone");
            const SpeechRecognition =  window.SpeechRecognition || window.webkitSpeechRecognition;
            let recognition = new SpeechRecognition();
            recognition.onstart = () => {
                console.log("starting listening, speak in microphone");
            }
            recognition.onspeechend = () => {
                console.log("stopped listening");
                recognition.stop();
            }
            recognition.onresult = (result) => {
                console.log(result.results[0][0].transcript);
            }
            recognition.start();
        }
        GetSpeech()
    </script>
</body>
</html>