<div class="col-md-6">
    <div class="card pt-1">
        <div class="card-body">
            <div class="border-bottom">
                <h4 class="mb-1 fw-bolder">Default Address<a class="btn btn-link p-0"><i class="bi bi-pencil-square ms-3 text-500"></i></a>
                </h4>
            </div>
            <div class="pt-4 mb-7 mb-lg-4 mb-xl-7">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <h5 class="text-1000">Address</h5>
                    </div>
                    <div class="col-auto">
                        <p class="text-800">{{ request.user.customer.all_address }}</p>
                    </div>
                </div>
            </div>
            <div class="border-top border-dashed border-300 pt-4">
                <div class="row flex-between-center mb-2">
                    <div class="col-auto">
                        <h5 class="text-1000 mb-0">Email</h5>
                    </div>
                    <div class="col-auto"><a class="lh-1" href="mailto:{{request.user.email}}">{{request.user.email}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>