<div class="card">
  <div class="card-header m-0 p-1 mx-2">
    <h4 class="">Completed Orders</h4>
  </div>
  <div class="card-body p-1">
    <div class="table-responsive">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover table-sm">
            <thead class="table-secondary">
              <tr>
                <th>Order ID</th>
                <th class="tb-date">Date</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr>
                <td>{{ order.transaction_id }}</td>
                <td class="tb-date">{{ order.last_updated }}</td>
                <td>₹{{ order.get_cart_billing_total }}</td>
                <td><span class="badge bg-success">{{ order.status }}</span></td>
                <td>
                  <a
                    class="btn btn-info btn-sm"
                    href="{% url 'order-myorder_details' order.transaction_id %}"
                  >
                    View Details
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
