<div class="card">
    <div class="card-header m-0 p-1 mx-2">
      <h4 class="">Pending Orders</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr>
                <td>{{ order.transaction_id }}</td>
                <td>{{ order.last_updated }}</td>
                <td>₹{{ order.get_cart_billing_total }}</td>
                <td><span class="badge bg-warning">{{ order.status }}</span></td>
                <td>
                  <a
                    class="btn btn-info btn-sm"
                    href="{% url 'order-myorder_details' order.transaction_id %}"
                  >
                    View Details
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  