  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link {% if active %}collapsed{% endif %}" href="{% url 'blog-admin-main' %}">
          <i class="bi bi-grid"></i>
          <span>Home</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link {% if not active %}collapsed{% endif %}" data-bs-target="#add_post-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-file-earmark"></i><span>Add Post</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="add_post-nav" class="nav-content collapse {% if active %}show{% endif %}" data-bs-parent="#sidebar-nav">
          <li class="nav-item">
            <a href="{% url 'blog-admin-add_post' %}"  class="nav-item">
              <span>Add Post</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'utils-profile-pg' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'utils-help-pg' %}">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'utils-contact-pg' %}">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->

    </ul>

  </aside>