{% extends 'base/index.html'%}
{% load static %}
{% load compress %}
{% block title %}
Your Orders | {{site_name}}
{% endblock title %}


{% block content %}
<div class="container m-0 p-0">
    <h2 class="mb-4">
        <span class="fw-bold">
            Your Orders
        </span>
    </h2>
    {% include 'main/orders/_details/pending_ord.html' with orders=orders_p %}
    {% include 'main/orders/_details/completed_ord.html' with orders=orders_c %}

</div>
{% endblock content %}

{% block body_hidden %}
{{ request.user.username |json_script:"user_name" }}
{{ searchdata | json_script:"user_squery"}}
{% include 'base/header.html' with order=order searchdata=searchdata %}
{% include 'base/sidebar.html' with active_d="myorders" %}
{% endblock body_hidden %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script>
    $(document).ready(function() {
        $('.table').DataTable( {
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        } );
    } );
</script>
{% compress js inline %}
<script src="{% static 'main/js/cart.js' %}"></script>
{% endcompress %}
{% endblock scripts %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
<style>
        .container{
            padding: 0px;
            margin: 0px;
        }
        .tb-date{
            min-width: 120px;
        }
</style>
{% endblock styles %}