{% extends 'base/index.html'%}
{% load static %}
{% load compress %}
{% block title %}
Your Orders | {{site_name}}
{% endblock title %}

{% block styles %}
<style>
    .container {
        padding: 0px;
        margin: 0px;
    }
    .timeline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        flex: 1;
        text-align: center;
        position: relative;
        overflow-x: scroll;
    }
    .timeline::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #45a049;
    }
    .timeline-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeline-content {
        margin-top: 10px;
        text-align: center;
    }

    .timeline-item:nth-child(even) .timeline-content {
        order: -1;
    }

    .completed {
        color: #4caf50;
        font-weight: bold;
    }

    .status-item.active {
        background: linear-gradient(to bottom, #4caf50, #45a049);
        color: white;
    }

    .status-icon {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .fw-bold2{
        font-weight: 600;
        color: rgb(82, 82, 82,0.8);
    }
    .fw-bold{
        font-weight: 700 !important;
        color: rgb(16, 16, 16);
    }
    @media (max-width: 550px) {
        .timeline-item {
            padding: 8px 16px;
            min-width: 130px;
        }
    }
</style>
{% endblock styles %}

{% block content %}
<div class="col">
    <div class="row mt-2">
        <div class="col-md-8">
            <h3 class="fw-bold">Order Details</h5>
        </div>
        <div class="col-md-3">
            <a target="_blank" href="{% url 'chatbot_fullpg_index' %}" class="btn btn-outline-primary">
                <!-- <i class="fa-solid fa-message text-outline-primary"></i> -->
                <i class="fa-solid fa-robot"></i>
                &nbsp;&nbsp;Chat Support
            </a>
        </div>
    </div>
    <h5>Order ID: {{ orders.transaction_id }}</h5>
    <div class="row mb-2">
        <div class="col">
            <p class="badge bg-info">Payment Type: {{orders.payment_type }}</p>
        </div>
        <div class="col">
            <a class="btn btn-sm btn-secondary" href="{% url 'order-generate_invoice_pdf' orders.transaction_id %}"><i class="fa-regular fa-eye"></i>&nbsp;&nbsp;Invoice</a>
        </div>
        <!-- <div class="col"></div> -->
    </div>
    <h5><strong>Order Tracking</strong></h5>
    <div class="timeline">
        <div class="timeline-item {% if orders.is_delivered %}completed{% endif %} {% if orders.status == 'Delivery' %}completed{% endif %} {% if orders.status == 'Out For Delivery' %}completed{% endif %} {% if orders.status == 'Shipped' %}completed{% endif %} {% if orders.status == 'order Confirmed' %}completed{% endif %} {% if orders.status == 'Processed' %}completed{% endif %} {% if orders.status == 'Processed' %}active{% endif %}">
            <div class="timeline-content">
                <i class="status-icon fas fa-check-circle"></i>
                Processed
            </div>
            <div class="timeline-date">{{ orders.date|date:"M d, Y" }}</div>
        </div>
        <div class="timeline-item {% if orders.is_delivered %}completed{% endif %} {% if orders.status == 'Delivery' %}completed{% endif %} {% if orders.status == 'Out For Delivery' %}completed{% endif %} {% if orders.status == 'Shipped' %}completed{% endif %} {% if orders.status == 'order Confirmed' %}completed{% endif %} {% if orders.status == 'order Confirmed' %}active{% endif %}">
            <div class="timeline-content">
                <i class="status-icon fas fa-check-circle"></i>
                Order Confirmed
            </div>
            <div class="timeline-date">{{ orders.date|date:"M d, Y" }}</div>
        </div>
        <div class="timeline-item {% if orders.is_delivered %}completed{% endif %} {% if orders.status == 'Delivery' %}completed{% endif %} {% if orders.status == 'Out For Delivery' %}completed{% endif %} {% if orders.status == 'Shipped' %}completed{% endif %} {% if orders.status == 'Shipped' %}active{% endif %}">
            <div class="timeline-content">
                <i class="status-icon fas fa-truck"></i>
                Shipped
            </div>
            <div class="timeline-date">{{ orders.date|date:"M d, Y" }}</div>
        </div>
        <div class="timeline-item {% if orders.is_delivered %}completed{% endif %} {% if orders.status == 'Delivery' %}completed{% endif %} {% if orders.status == 'Out For Delivery' %}completed{% endif %} {% if orders.status == 'Out For Delivery' %}active{% endif %}">
            <div class="timeline-content">
                <i class="status-icon fas fa-truck-loading"></i>
                Out For Delivery
            </div>
            <div class="timeline-date">{{ orders.date|date:"M d, Y" }}</div>
        </div>
        <div class="timeline-item {% if orders.is_delivered %}completed{% endif %} {% if orders.status == 'Delivery' %}completed{% endif %} {% if orders.status == 'Delivery' %}active{% endif %}">
            <div class="timeline-content">
                <i class="status-icon fas fa-box"></i>
                Delivery
            </div>
            <div class="timeline-date">{{ orders.date|date:"M d, Y" }}</div>
        </div>
        <div class="timeline-item {% if orders.is_delivered %}completed{% endif %}">
            <div class="timeline-content">
                <i class="status-icon fas fa-check-circle"></i>
                Order Completed
            </div>
            <div class="timeline-date">{{ orders.date|date:"M d, Y" }}</div>
        </div>
    </div>
    
<table class="table mt-4 table-hover">
    <thead>
        <tr>
            <th style="max-width: 350px;">Product</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in orders.orderitems_set.all %}
        <tr>
            <td style="max-width: 350px;"><a href="{% url 'productdetails' item.product.slug %}">{{ item.product.name }}</a></td>
            <td><a href="{% url 'productdetails' item.product.slug %}"><img src="{{ item.product.first_img }}" alt="Product Image" class="img-thumbnail" width="100"></a></td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item.get_total }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td class="table-active" colspan="2"><span class="fw-bold2">Subtotal:</span></td>
            <td class="table-active">₹{{orders.get_cart_total}}</td>
        </tr>
        <tr>
            <td></td>
            <td class="table-active" colspan="2"><span class="fw-bold2">Tax:</span></td>
            <td class="table-active">₹{{orders.get_cart_tax}}</td>
        </tr>
        <tr>
            <td></td>
            <td class="table-active" colspan="2"><span class="fw-bold2">Shipping Cost:</span></td>
            <td class="table-active">₹{{orders.get_cart_shipping}}</td>
        </tr>
        {% if orders.get_coupon_check %}
            <tr>
                <td></td>
                <td class="table-active" colspan="2"><span class="fw-bold2">Coupon: <span class="fw-bold">{{orders.get_coupon_check}}</span></span></td>
                <td class="table-active"><span class="text-danger">-₹{{orders.get_coupon_discount}}</span></td>
            </tr>
        {% endif %}
        <tr>
            <td></td>
            <td class="table-active" colspan="2"><span class="fw-bold fs-5">Total</span></td>
            <td class="table-active"><span class="fs-5 fw-bold ">₹{{orders.get_cart_billing_total}}</span></td>
        </tr>
    </tbody>
</table>
<div class="card">
    <div class="card-header bg-primary text-white m-0 p-1">
        <h6>Shipping Address</h6>
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 mt-2 text-muted">Order ID: {{ orders.transaction_id }}</h6>
        <p><strong>Address:</strong> {{ shipping.address_1 }}, {{ shipping.city }}, {{ shipping.state }}, {{ shipping.zipcode }}</p>
        <p><strong>Date:</strong> {{ shipping.date|date:"M d, Y" }}</p>
        <p><strong>Last Updated:</strong> {{ shipping.last_updated|date:"M d, Y, H:i" }}</p>
    </div>
</div>
</div>
{% endblock content %}

{% block body_hidden %}
{{ request.user.username |json_script:"user_name" }}
{{ searchdata | json_script:"user_squery"}}
{% include 'base/header.html' with order=order searchdata=searchdata %}
{% include 'base/sidebar.html' with active_d="myorders" %}
{% endblock body_hidden %}

{% block scripts %}
{% compress js inline %}
<script src="{% static 'main/js/cart.js' %}"></script>
{% endcompress %}
{% endblock scripts %}