{% extends 'blog/base/index.html' %}

{% block title %}
All Posts | {{site_name}}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                {% include 'blog/main/_details/blog_crd.html' %}
                {% include 'blog/main/_details/blog_crd.html' %}
                {% include 'blog/main/_details/blog_crd.html' %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex justify-content-center flex-column">
            <div class="col ad_block_blog1">
                <img src="https://infinite.codingest.net/uploads/blocks/block_64352a7d040639-50759128-25531069.png" alt="">
            </div>
            <div class="col mt-2">
                {% include 'blog/main/_details/blog_card_pop.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}