<div class="price_data">
    <div>
        <span class="product_offer">-{{data.product.0.offer}}%</span>
        &nbsp;&nbsp;
        <div class="main_price">
            <span class="price_sy">₹</span>
            <span class="price_value">{{data.product.0.new_price}}</span>
        </div>
    </div>
    <div>
        <span class="product_mrplabel">
            M.R.P:&nbsp;{{data.product.0.old_price}}
        </span>
    </div>
    <div>
        <span>
            Inclusive of all taxes
        </span>
    </div>
</div>