{% extends 'clients/base.html' %} 
{% load static %} 
{% block title %} Login {% endblock %} 
{% block content %}
<div class="row mask m-0 gradient-custom-3 d-flex justify-content-center">
  <div class="col-md-6">
    <div class="card mt-5 p-2 reg_card">
      <div class="card-body">
        <div class="text-center">
          <div class="card-headr">
            <div class="card-title p-2 pt-3">
              <h2>Login</h2>
            </div>
          </div>
        </div>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{next}}">
          {% include 'clients/messages.html' %}
          <div class="form-group mb-2">
            <label for="inputname">Username</label>
            <input
              required
              type="text"
              name="username"
              placeholder="Username"
              class="form-control"
              id="inputname"

              value="{{ FieldValues.username }}"
            />
          </div>
          <div class="form-group mb-3">
            <label for="inputpassword">Password</label>
            <input
              required
              type="password"
              name="password"
              placeholder="password"
              class="form-control"
              id="inputpassword"
            />
          </div>
          <input
            type="submit"
            value="Login"
            class="btn btn-block btn-primary submit-btn w-100 mt-3 gradient-custom-3 text-body"
          />
        </form>
        <div class="mt-4">
          <p class="text-center text-muted mb-0">Don't have an account? <a href="{% url 'register' %}"
            class="fw-bold text-body"><u>Register</u></a></p>
          <p class="text-center text-muted mb-0">Forget password? <a href="{% url 'reset-password' %}"
            class="fw-bold text-body"><u>Reset</u></a></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block header_links %}
<li class="nav-item mx-3">
  <a class="" href="{% url 'register' %}">
    <span class="d-md-block ps-2">Register</span>
  </a>
</li>
{% endblock header_links %}
  