{% extends 'clients/base.html' %} 
{% load static %} 
{% block title %} Reset Password {% endblock %} 
{% block content %}
<div class="row mask m-0 gradient-custom-3 d-flex justify-content-center">
  <div class="col-md-5">
    <div class="card mt-5 p-2 reg_card">
      <div class="card-body">
        <div class="text-center">
          <div class="card-title m-0 p-3">
            <h3>Reset Password </h3>
          </div>
        </div>
        <form action="{% url 'reset-password' %}" method="post">
          {% csrf_token %} 
          {% include 'clients/messages.html' %}
          <div class="form-group mb-2">
            <label for="inputemail">Email address</label>
            <input
              type="email"
              name="email"
              placeholder="abc@gmail.com"
              class="form-control"
              id="inputemail"

              value="{{ values.email }}"
            />
          </div>
          <input
            type="submit"
            value="Submit"
            class="btn btn-block btn-primary submit-btn w-100 gradient-custom-4 text-body mt-3"
          />
        </form>
        <div class="mt-4">
          <p class="text-center text-muted mb-0">Have already an account? <a href="{% url 'login' %}"
            class="fw-bold text-body"><u>Login</u></a></p>
            <p class="text-center text-muted mb-0">Don't have an account? <a href="{% url 'register' %}"
              class="fw-bold text-body"><u>Register</u></a></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block header_links %}
<li class="nav-item">
  <a class="" href="{% url 'login' %}">
    <span class="d-md-block ps-2">Login</span>
  </a>
</li>
<li class="nav-item mx-3">
  <a class="" href="{% url 'register' %}">
    <span class="d-md-block ps-2">Register</span>
  </a>
</li>
{% endblock header_links %}